.position{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin-top: 30px;
    width: 30%;
    margin-left: 35%;
    border-radius: 10px;
}
.logo{
    height: 70px;
    width: 70px;
    margin-left:47%;
    margin-top: 100px;
}
.btn{
    width:80px; 
    height:30px;
    border-radius: 10px;
}
.head1{
    text-align: center;
    font-size: 50px;
   
}