.cart{
    width:70%;
    border: 1px solid;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 10px;
}
.shophead1{
    border: 1px solid;
    border-radius: 5px;
    padding-left: 25px;
    padding-top: 5px;
    background-color: hotpink;
}
.shophead2{
    font-size: 26px;
    color:antiquewhite;
}
.cartContainer{
    width:96.5%;
    border-radius: 10px;
}